.avatar img{
    border-radius: 5000px;
    object-fit: cover;
    height: 150px;
    width: 150px;
    border: 2px solid $primary-color;

}

.profile-card
{
    background: rgba( 255, 255, 255, 0.75 );
    border-radius: 20px;
    back-drop-filter: blur(20px);
    box-shadow: 0 0px 6px 0 rgba( 31, 38, 135, 0.37 );
    padding: 16px;
    border: 2px solid $primary-color;


}
