@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  background-color: $light-grey;
font-family: $font1;
  margin: 0;
}

h1{
  font-family: $font3;
  font-size: rem(24px);
}

h2{
  font-family: $font3;
  font-size: rem(18px);
}


.header3{
  font-family: $font3;
  font-size: rem(16px);
  font-weight: normal;
}

i{
  color: $white;
}


.container {
  margin: auto;
  max-width: $container-width;
}

@media (max-width: $md-width) {
  .md-hidden {
    display: none;
  }
}

@media (max-width: $lg-width) {
  .lg-hidden {
    display: none;
  }
}

@media (min-width: $md-width)  {
  .xl-hidden{
    display: none;
  }
}
/*  Spacing  */
$baseSpace: 0.8rem;
$spaceRange: 5;

.mr-a{
  margin-right: auto;
}

.ml-a{
  margin-left: auto;
}

@for $i from 0 through $spaceRange {
  .m-#{$i} {
    margin: calc(#{$baseSpace} * #{$i}) !important;
  }
  .mt-#{$i} {
    margin-top: calc(#{$baseSpace} * #{$i}) !important;
  }
  .mb-#{$i} {
    margin-bottom: calc(#{$baseSpace} * #{$i}) !important;
  }
  .mr-#{$i} {
    margin-right: calc(#{$baseSpace} * #{$i}) !important;
  }
  .ml-#{$i} {
    margin-left: calc(#{$baseSpace} * #{$i}) !important;
  }


  .p-#{$i} {
    padding: calc(#{$baseSpace} * #{$i}) !important;
  }

  .pt-#{$i} {
    padding-top: calc(#{$baseSpace} * #{$i}) !important;
  }
  .pb-#{$i} {
    padding-bottom: calc(#{$baseSpace} * #{$i}) !important;
  }
  .pr-#{$i} {
    padding-right: calc(#{$baseSpace} * #{$i}) !important;
  }
  .pl-#{$i} {
    padding-left: calc(#{$baseSpace} * #{$i}) !important;
  }
}

.w-25{
  width: 25%;
}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}



.h-25{
  height: 25%;
}

.h-50{
height: 50%
}

.h-100{
  height: 100%;
}

.xs-space{
  margin-top: 20px
}


.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

/* Border */

.rounded-1{
  border-radius: 3px;
}

.rounded-2{
  border-radius: 5px;
}

.rounded-25{
  border-radius: 25px;
}


/*  Flex  */


.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.fd-row-reverse{
  flex-direction: row-reverse;
}

.fd-col-reverse{
  flex-direction: column-reverse;
}

.jc-center{
  justify-content: center;
}

.jc-sb{
  justify-content: space-between;
}

.jc-sa{
  justify-content: space-around;
}

.ai-center{
  align-items: center;
}

.ai-start{
  align-items: flex-start;
}

/*  Colors */

.bg-violet{
  background-color: $violet-electric;
}
.bg-white{
  background-color: $white;
}

.white{
  color: $white;
}

.back-light-main-color{
  color: $light-back-main-color;
}

.back-lighter-main-color{
  color: lighten($light-back-main-color, 20);
}

.lighter-text{
  color: #D4C6C6;
}


/*  Fonts */


.body1{
  font-size: rem(24px);
  font-family: Rockwell;
  font-weight: bold;
  color: #6B6B6B;
  line-height: 29px;
}

.body2{
  font-size: 1rem;
  line-height: 29px;
  position: relative;
}

.bold{
  font-weight: bold;
}
.bg-light-back-main-color{
  color: $light-back-main-color;

}

.underline {
  position: relative;


  &::after{
    content: "";
    position: absolute;
    border-radius: 25px;
    bottom: -6px;
    left: 0;
    right: 0;
    height: 4px;
    width: 50px;
    background: lighten($light-back-main-color, 20);
  }
}

.thin{
  &::after{
    height: 2px;
  }
}
