
/*  Spacing  */
$baseSpace: 0.8rem;
$spaceRange: 5;

.mr-a{
  margin-right: auto;
}

.ml-a{
  margin-left: auto;
}


.h-25{
  height: 25%;
}

.h-50{
  height: 50%
}

.h-100{
  height: 100%;
}

.xs-space{
  margin-top: 20px
}


.no-gutters {
  margin-right: 0;
  margin-left: 0;
}


@for $i from 0 through $spaceRange {
  .m-#{$i} {
    margin: calc(#{$baseSpace} * #{$i}) !important;
  }
  .mt-#{$i} {
    margin-top: calc(#{$baseSpace} * #{$i}) !important;
  }
  .mb-#{$i} {
    margin-bottom: calc(#{$baseSpace} * #{$i}) !important;
  }
  .mr-#{$i} {
    margin-right: calc(#{$baseSpace} * #{$i}) !important;
  }
  .ml-#{$i} {
    margin-left: calc(#{$baseSpace} * #{$i}) !important;
  }


  .p-#{$i} {
    padding: calc(#{$baseSpace} * #{$i}) !important;
  }

  .pt-#{$i} {
    padding-top: calc(#{$baseSpace} * #{$i}) !important;
  }
  .pb-#{$i} {
    padding-bottom: calc(#{$baseSpace} * #{$i}) !important;
  }
  .pr-#{$i} {
    padding-right: calc(#{$baseSpace} * #{$i}) !important;
  }
  .pl-#{$i} {
    padding-left: calc(#{$baseSpace} * #{$i}) !important;
  }
}

/*  Flex  */


.flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.column{
  flex-direction: column !important;
}

.fd-row-reverse{
  flex-direction: row-reverse;
}

.fd-col-reverse{
  flex-direction: column-reverse;
}

.jc-center{
  justify-content: center;
}

.jc-sb{
  justify-content: space-between;
}

.jc-sa{
  justify-content: space-around;
}

.ai-center{
  align-items: center;
}

.ai-start{
  align-items: flex-start;
}


/*  width  */

.w-25{
  width: 25%;
}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}


/* Typography */

.underline{
  text-decoration: underline;
}

/*  Colors */

.bg-violet{
  background-color: $violet-electric;
}
.bg-white{
  background-color: $white;
}

.bg-primary{
  background-color: $primary-color;
}

.bg-black{
  background-color: $black;
}

.bg-red{
  background-color: $error-color;
}

.white{
  color: $white;
}

.primary{
  color: $primary-color;
}

.back-light-main-color{
  color: $light-back-main-color;
}

.back-lighter-main-color{
  color: lighten($light-back-main-color, 20);
}

.lighter-text{
  color: #D4C6C6;
}

.tox-notification {display: none !important;}
