body {
  font-family: $font1;
  background-color: $body-color;
  transition: $tran;
}

/*
/*body {
  @include theme-colors($light-theme: true);

  body.dark {
    @include theme-colors($light-theme: false);
  }
}*/


::selection {
  background-color: $primary-color;
  color: $white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: $font2;
  font-size: rem(24);
}

h2 {
  font-family: $font2;
  font-size: rem(16);
}

h3 {
  font-family: $font2;
  font-size: rem(14);
}

h4 {
  font-family: $font2;
  font-size: rem(8);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 500px);
  background-color: $body-color;
  transition: $tran;


  & .home {
    font-size: rem(30);
    font-weight: 400;
    color: $text-color;
    padding: 12px 60px;
    width: 100%;

    & .section {
      margin: 50px 0;
    }
  }
}

#section1 {

  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

#section2 {
  display: flex;
  justify-content: space-around;
  background: $linear;
  color: $white;
  border-radius: 25px;
  padding: 10px;
}


#section3 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


#section4 {
  & h2 {
    font-size: rem(30);
    font-style: normal;
    font-weight: bold;
    margin: 0 0 20px 0;
  }
}


@media (max-width: 990px) {

  #section2 {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(96.16deg, #2F76C0 3.98%, #3BCDB3 72.64%);
    color: #FFF;
    border-radius: 25px;
    flex-direction: column;
    padding: 10%;

  }
  .container {

    padding-left: 20px;

    & .home {
      font-size: 1.875rem;
      font-weight: 400;
      color: #464646;
      padding: 0px;
      width: 100%;
    }

  }

}