
$text-color: red;
$main-color: blue;
$white: #FFF;
$grey: #AAA;
$light-grey: #F2F2F2;
$violet-electric: #5D5FEF;
$light-back-main-color: #464646;
$dark-grey: #444;
$red: #ce0a0a;
$green: #31aa66;
$black: #000000;
$font1: 'Arvo', sans-serif;
$font2: 'Lato', sans-serif;
$font3: 'Sintony', sans-serif;

$container-width: 1000px;