$black: black;
$white: #FFF;
$grey: #AAA;
$light-grey: #F2F2F2;
$dark-grey: #444;
$red: #ce0a0a;
$green: #31aa66;
$breakpoint-tablet: 990px;

$body-color: #F0F7FF;
$sidebar-color: #FFF;
$primary-color: #3BCDB3;
$toggle-color: #DDD;
$text-color: #464646;
$blue: #2F7DC0;
$orange : #FFAD47;

$linear:linear-gradient(96.16deg, #2F76C0 3.98%, #3BCDB3 72.64%);

$tran: all 0.3s ease;
$body-dark-color: #18191a;
$sidebar-dark-color: #242526;
$primary-dark-color: #3a3b3c;
$toggle-dark-color: #fff;
$text-dark-color: #ccc;


$container-width: 1000px;