/******  home ******/
/*********************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');

.vitrine {

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;

  }

  figure {
    margin: 0;
  }

  .clearfix::before {
    content: '';
    display: table;
  }

  .clearfix::after {
    content: '';
    clear: both;
    display: table;
  }

  .container {
    max-width: 1170px;
    margin: auto;
    position: relative;
  }

  .vertically-centered {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
  }

  header {

    padding: 10px 0; /* en haut et en bas : 10px ; a gauche et a droite 0*/
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  header .container > a {
    float: left;
    line-height: 0;
  }

  header .container > a img {
    width: 70px;
  }

  header .container > nav {
    float: right;
  }

  header .container > nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  header .container > nav li {
    float: left;
  }

  header .container > nav li a {
    text-transform: uppercase;
    padding: 0.5em;
    margin: 0.5em;
    display: block;
    text-decoration: none;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    font-size: 13px;
  }

  header .container > nav li a:hover {
    color: white;
    transition: background-color 2s ease-out 100ms
  }

  #section1 {
    height: 640px;
    background-image: url('../assets/images/bckgrndLearner.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

  }


  #section1 .container {
    height: 100%;
  }

  #section1 .container h2 {
    font-family: 'Rubik', sans-serif;
    margin: 20px;
    color: #1a365d;
    font-size: 2.25rem;
    width: 60%;
  }

  #section1 .container p {
    font-family: 'Rubik', sans-serif;
    margin: 20px;
    font-size: 16px;
    width: 60%;
    font-weight: 300;
    margin-top: 10px;

  }

  #section1 button {
    background-color: #1a365d;
    border-radius: 0px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 20px;
  }

  #section2 {
    height: 590px;
    background-color: #eaf1f380;
  }

  #section2 h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  #section2 h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #1a365d;
  }


  .benefit {
    float: left;
    padding: 30px;
    text-align: center;
    width: 33.33%;
  }

  #section3 {
    height: 570px;
  }

  #section3 .cta-grid {

    display: flex;
  }

  #section3 .container .cta_image {
    width: 60%;
    height: 310px;
    padding: 50px;

  }

  #section3 .container .cta_body {
    padding-top: 50px;
    width: 40%;
    height: 310px;
    line-height: 27px;

  }

  #section3 .container .cta_body h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }

  #section3 .container .cta_body p {

    margin-left: 30px;
  }

  #section3 .container img {
    width: 455px;
  }

  #section3 .container figure {
    text-align: center;
  }

  #section h3 {

    font-family: 'Montserrat', sans-serif;
    margin-bottom: 80px;
  }

  #section4 {
    background-color: #F8F8F8;
    padding-bottom: 20px;
  }


  #section4 .container {
    display: flex;
    flex-direction: column;
  }

  #section4 .container > h1 {
    text-align: center;
    font-size: 30px;
    margin: 2em 0;
    margin-bottom: 12px;

  }

  #section4 .container > p {

    margin-bottom: 50px;

  }

  #section4 a {
    text-decoration: none;
  }

  #section4 .card__button {
    backface-visibility: hidden;
    background-color: #1a365d;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 55px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }

  #section4 .card__button:disabled {
    cursor: default;
  }

  #section4 .card__button:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }


  html {
    scroll-behavior: smooth;
  }

  p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  footer {
    background-color: #1a365d;
  }

  body > footer {

    padding: 20px 0;
  }

  body > footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  body > footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }


  body > footer nav li a {
    padding: 0.5em;
    display: block;
    color: white;
    text-decoration: none;
  }

  body > footer nav li a:hover {

    color: white;

  }

  body > footer nav li a:first-child {
    padding-left: 0;
  }

  .section_contact {

    padding-bottom: 20px;
    height: 580px;
  }

  small {
    color: white;
  }

  .form {

    text-align: center;
  }

  #section4 {
    background-color: #eaf1f380;
    padding-bottom: 20px;
  }

  #section4 h1 {
    font-family: 'Montserrat', sans-serif;
  }

  #section4 .container {
    padding-bottom: 60px;
  }

  #section4 .container > h1 {
    text-align: center;
  }

  .grid_cards {
    display: flex;
    justify-content: space-around;

  }

  .cards__image img {
    position: relative;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

  }

  .card__title {
    color: black;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;


  }

  .cards_body {
    margin: 20px;
  }

  .cards_body h1 {
    text-align: center;
    text-decoration: none;
  }

  .cards_body a {
    text-align: center;
  }

  .cards {
    border-radius: 20px;
    width: 300px;
    height: 500px;
    background-color: rgb(243, 243, 243);

  }

  .card__content {

    font-family: 'Rubik', sans-serif;
    font-weight: 300;

  }

  .card__button {
    margin: 50px;
    text-align: center;
  }


  label[for="email"], [for="password"], [for="firstname"], [for="lastname"], [for="passwordConfirm"] {
    display: none;
  }

  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }

  #formFooter a {
    color: #0d0d0d;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
  }

  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
  }


  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background-color: #1a365d;
  }

  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
  }

  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }


  h2.inactive {
    color: #cccccc;
  }

  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }

  #formContent h2 a {
    text-decoration: none;
    color: #0d0d0d;
  }

  .success {
    color: #1a365d;
    background-color: lightgray;
    margin-bottom: 20px;
  }


  input[type=button], input[type=submit], input[type=reset] {
    padding-top: 50px;
    background-color: #1a365d;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #39ace7;
  }

  input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  input[type=text], input[type=email], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #1a365d;
  }

  input[type=text]::placeholder {
    color: #cccccc;
  }


  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }


  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
  }

  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }

  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }

  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }

  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }

  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }

  .underlineHover:hover {
    color: #0d0d0d;
  }

  .underlineHover:hover:after {
    width: 100%;
  }


  /********* Logiiinn ********/
  @import url('https://fonts.googleapis.com/css?family=Poppins');


  label[for="email"], [for="password"], [for="firstname"], [for="lastname"], [for="passwordConfirm"] {
    display: none;
  }

  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }

  #formFooter a {
    color: #0d0d0d;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
  }

  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
  }

  .g-recaptcha {
    margin: 5px;
    display: flex;
    justify-content: center;
  }


  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background-color: #1a365d;
  }


  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
  }

  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }


  h2.inactive {
    color: #cccccc;
  }

  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }

  #formContent h2 a {
    text-decoration: none;
    color: #0d0d0d;
  }


  input[type=button], input[type=submit], input[type=reset] {
    padding-top: 50px;
    background-color: #1a365d;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #39ace7;
  }

  input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  input[type=text], input[type=email], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #1a365d;
  }

  input[type=text]:placeholder {
    color: #cccccc;
  }


  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }


  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
  }

  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }

  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }

  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }

  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }

  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }

  .underlineHover:hover {
    color: #0d0d0d;
  }

  .underlineHover:hover:after {
    width: 100%;
  }

}