.skill {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 0 0 10px;

  & .outer {
    box-sizing: initial;

    height: 33px;
    width: 33px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), 6px 6px 10px -1px rgba(255, 255, 255, 0.7);
    padding: 3px;

    & .inner {
      height: 33px;
      width: 33px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.05);

      & .number {
        font-family: $font2;
        font-size: rem(6);
      }
    }
  }

  & svg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    & circle {
      fill: none;
      stroke: url(#GradientColor);
      stroke-width: 3px;
      stroke-dasharray: 240;
      stroke-dashoffset: 232;
      animation: anim 2s linear forwards;
    }

  }

}


@keyframes anim {
  100% {
    stroke-dashoffset: 165;
  }
}
