
.main-container{
  max-height: initial;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  box-shadow: 0px 4px 44px -13px rgba(0, 0, 0, 0.2);

  @media (max-width: $lg-width) {
    padding-top: 3em;
    margin: 0px !important;
    min-width: 100%;
  }
}





