.profil-card
{
  display: flex;

  & img{
    width: 70px;
    height: 70px;
  }
  .card-label{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: rem(5px);
    h2{
      margin-bottom: 0;
      color: $light-back-main-color;
    }

    h3{
      color: #D4C6C6;
    }
  }


  @media only screen and (max-width: $lg-width) {
      display: none;
  }
}