.dropdown-items{
  animation: rotateX (10 * 60ms) ease-in-out forwards;
  opacity: 0;
  .active{
    display: block;

  }
}

@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
