.flash-message{

  &.error {
    color: white;
    background-color: $error-color;
  }

  &.success {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    color: white;
    background-color: #3BCDB3;
  }



}