.form {
  display: flex;
  flex-direction: column;
  max-width: rem(400);

  &.inline {
    flex-direction: row !important;
  }

  .disabled {
    background-color: grey;
  }
  input:not([type="file"]) input:not([type="submit"]){
    margin-top: 3px;
    border: 1px solid $light-back-main-color;
    border-radius: 4px;
    min-height: 27px;
  }

  input[type="text"], input[type="password"], input[type="email"]{
    min-height: 1rem;
    padding: 0.5rem;
  }

  select {
    font-size: 16px;
    border: 1px solid #CCC;
    height: 34px;
  }

  input {
    margin-bottom: 1rem;
  }
  label{
    margin-top: rem(20);
    margin-bottom: 0.5rem;
    color: lighten($light-back-main-color, 20);
  }

  input[type="submit"]{
    margin-top: 12px;

  }

  &.comment
  {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 1rem;
    margin-top: 1rem;
  }
}

.form-register{
  border-radius: 10px;

  padding: 2rem;
  h1{
    color: $white;
  }
  background-color: $light-back-main-color;

}
.containerRegister{
  width: 100%;
  height: 1080px;
  background-color:#464646;
  display: flex;
  justify-content: center;
}
.formContainer{
    width: 500px;
    height: 400px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    top: 50%;
}


