.form {
  display: flex;
  flex-direction: column;
  max-width: rem(400);

  input:not([type="file"]){
    margin-top: 3px;
    border: 1px solid $light-back-main-color;
    border-radius: 4px;
    min-height: 27px;
  }

  label{
    margin-top: rem(20);
    color: lighten($light-back-main-color, 20);
  }

  input[type="submit"]{
    margin-top: 12px;

  }
}

.form-register{
  border-radius: 10px;

  padding: 2rem;
  h1{
    color: $white;
  }
  background-color: $light-back-main-color;


}

