.form {
  display: flex;
  flex-direction: column;
  max-width: rem(400px);
  input{
    margin-top: 5px;
    border: 1px solid $light-back-main-color;
    border-radius: 4px;

  }
}

.form-register{
  border-radius: 10px;

  padding: 2rem;
  h1{
    color: $white;
  }
  background-color: $light-back-main-color;


}
.containerRegister{
  width: 100%;
  height: 1080px;
  background-color:#464646;
  display: flex;
  justify-content: center;
}
.formContainer{
    width: 500px;
    height: 400px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    top: 50%;
}


